<div class="wrapper">
  <div class="container">
    <h1>Memberships & Pricing</h1>
    <p>All plans include 7 days free trial</p>

    <div class="content">
      <div class="monthly">
        <div class="pricing-table" *ngFor="let membership of memberships">
          <div class="ribbon">Sale</div>
          <h3>{{ membership.title }}</h3>
          <ul>
            <li *ngFor="let feature of membership.features">{{ feature }}</li>
          </ul>
          <div class="price">
            <span>{{ membership.price }}</span> $/month
        </div>
          <div class="btn-container">
            <a href="{{ membership.link }}">Get Started</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>