<header>
    <div class="header-content">
        <h1>Gold's Gym Supplements</h1>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button>Search</button>
        </div>
        <nav>
            <!-- Navigation links for logged-in users -->
            <ng-container *ngIf="!isLoggedIn">
                <a routerLink="/">Home</a>
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            </ng-container>
            <!-- Navigation links for non-logged-in users -->
            <ng-container *ngIf="isLoggedIn">
                <a routerLink="/">Home</a>
                <a routerLink="/my-cart">My Cart</a>
                <a routerLink="/dashboard">My Dashboard</a>
            </ng-container>
        </nav>
    </div>
</header>
<div class="container">
    <div class="product-card" *ngFor="let product of products">
        <img [src]="product.imageUrl" [alt]="product.name" class="product-image" style="max-width: 300px; height: 200px;">
        <div class="product-details">
            <h2>{{ product.name }}</h2>
            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">Price: ${{ product.price }}</p>
            <button class="add-to-cart-button" (click)="addToCart(product)">Add to Cart</button>
        </div>
    </div>
</div>
