<div class="wrapper">
    <div class="container">
      <form class="forgot-password" [formGroup]="forgotForm" (ngSubmit)="submit()">
        <fieldset>
          <h2>Forgot Password</h2>
  
          <div class="user-details">
            <div class="input-box">
              <span class="details">Email</span>
              <input type="email" class="form-control" formControlName="email" placeholder="Please enter your email">
            </div>
          </div>
  
          <div class="button">
            <button [disabled]="!forgotForm.valid">Submit</button>
          </div>
          
          <p class="text-center">
            Remember your password? <a routerLink="/login">Login</a>
          </p>
        </fieldset>
      </form>
    </div>
  </div>