header, footer {
    width: 100%;
    background-color: #333;
    color: #FFFF00;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFF00;
    font-weight: bold;
}

nav ul li a:hover{
    color: #FF8C00;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222;
    color: #fff;
}

.container {
    padding: 30px;
    margin: 0 auto;
    flex-grow: 1;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content {
    margin-top: 20px;
}

.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.article {
    border-radius: 7px;
    border: 1px solid #fff;
    padding: 20px;
    background-color: #333;
}

.article:hover{
    border: 1px solid #FFFF00;
    box-shadow: 0 0 10px #FFFF00;
}

.article h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.article p {
    margin-bottom: 10px;
}

.info, .tags {
    margin-bottom: 10px;
}

.tags span {
    display: inline-block;
    margin-right: 5px;
    background-color: rgb(85, 85, 85);
    padding: 3px 8px;
    border-radius: 10px;
    color: beige;
}

.actions {
    margin-top: 10px;
}

.actions button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #FFFF00, #000000);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px; 
    border-radius: 5px;
    margin-right: 10px;
}

.actions button:hover {
    background: linear-gradient(135deg, #FF8C00, #333333);
}

footer {
    margin-top: auto;
    text-align: center;
}
