<div class="wrapper">
    <div class="container">
      <form class="login" [formGroup]="articleForm" (ngSubmit)="submitForm()">
        <fieldset>
          <h2>Add Article</h2>
  
          <div class="user-details">
            <div class="input-box">
              <span class="details">Title</span>
              <input type="text" class="form-control" formControlName="title" placeholder="Article Title">
            </div>
            <div class="input-box">
              <span class="details">Content</span>
              <textarea class="form-control" formControlName="content" placeholder="Article Content"></textarea>
            </div>
            <div class="input-box">
              <span class="details">Author</span>
              <input type="text" class="form-control" formControlName="author" placeholder="Author">
            </div>
            <div class="input-box">
              <span class="details">Tags</span>
              <input type="text" class="form-control" formControlName="tags" placeholder="Tags">
            </div>
          </div>
  
          <div class="button">
            <button [disabled]="!articleForm.valid">Add Article</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  