<section class="about" id="about">
    <div class="about-contents">
        
        <div class="about-left-col">
            <img src="assets/about-us.jpg">
        </div>

        <div class="about-right-col">
            <h4>About Us</h4>
            <h1>Best Facilities and Experienced Trainers</h1>
            <p>Gold's Gym gives you access to everything you need reach your fitness goals: all outdoor workout spaces, weight and strength training areas, a wide selection of free weights, cardio equipment, resistance machines – plus a team of certified Personal Trainers ready to support and motivate you to become the strongest version of yourself.</p>
            <div class="about-states">
                <div class="about-state about-state-1">
                    <i class="fa-solid fa-person"></i>
                    <h2>Best Trainers</h2>
                </div>
                <div class="about-state about-state-2">
                    <i class="fa-solid fa-award"></i>
                    <h2>Award Winning</h2>
                </div>
            </div>
        </div>

    </div>
</section>